{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=s , initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'CSS/editar_perfil.css' %}">
    <title>Editar perfil</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" title="Volve Al menu Principal"><img src="{% static 'img/atras.png' %}" alt="atras"></a>
      </nav>
    </header>

    <main class="container">
      <section>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
            <legend>Cambiar imagen de perfil</legend>
            <div>
              {{ form.as_p }}
              <div class="imgen"></div>
              <button class="btn">Agregar imagenes</button>
            </div>
            <button type="submit">Guardar Cambios</button>
          </fieldset>
        </form>
      </section>
    </main>


    <script>
      const imagen = document.getElementById('id_image')
      const btn = document.querySelector('.btn')
      
      btn.addEventListener('click', (e) => {
        e.preventDefault()
        imagen.click()
      })
      
      imagen.addEventListener('change', () => {
        for (let i = 0; imagen.files.length; i++) {
          const element = URL.createObjectURL(imagen.files[i])
          const img = document.createElement('img')
          img.src = element
          document.querySelector('.imgen').appendChild(img)
        }
      })
    </script>
  </body>
</html>
